/*
*
*  Sitio de Francisco Méndez Labbe
*
*
*/

$max-width: 72rem;
$page-padding: 3rem;
$nav-block-size: 20px;
$color-orange: #E4752D;
$color-dark: #200622c7;
$color-white: #f3fffd;

@import "normalize";
@import "skeleton";
@import "menu";


#p5{
    position: relative;
}
.vid-overlay{
    display: inline-block;
    position: absolute;
    top: 10vh;
    left: 0;
    opacity: .75;
}

.img-overlay{
    text-align: center;
    position: absolute;
    top:10vh;
    left: -25vw;
    right: 0;
    opacity: .85;
    max-height: 60vh;
    
    img{
        max-height: 75vh;
    }
    
}
.vp-preview {
    position: relative;
    top: 25%;
    left: 0;
}

#p5_loading{
    display: flex;
    justify-content: center;
    color: #FFF6;
    span{
        display: inline-block;
        margin: 45% 0 ;
    }
}

.row{
    position: relative;
    .column{
        position: relative;
    }
}