/*
*
*  Sitio de Francisco Méndez Labbe
*
*
*/

$max-width: 72rem;
$page-padding: 3rem;
$nav-block-size: 20px;
$color-orange: #E4752D;
$color-dark: #200622c7;
$color-white: #f3fffd;

@import "normalize";
@import "skeleton";
@import "menu"
