/*
*
*  Sitio de Francisco Méndez Labbe
*
*
*/

$max-width: 72rem;
$page-padding: 3rem;
$nav-block-size: 20px;
$color-orange: #E4752D;
$color-dark: #200622c7;
$color-white: #f3fffd;

@import "normalize";
@import "skeleton";
@import "menu";

button{
    float: right;
    border: 3px solid $color-white;
    color: $color-white;
    font-size: 32px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 0;
    line-height: 0;
    font-weight: 100;
    span{
        display: none;
        &:before{
            display: block;
            color: black;
            content: "+";
        }
    }
    &:hover{
        background-color: $color-dark;
        border-color: $color-dark;
    }
}

#p5{
    position: relative;
}
.overlay{
    display: inline-block;
    position: absolute;
    top: 25%;
    left: 0;
    opacity: .75;
}

.vp-preview {
    position: relative;
    top: 25%;
    left: 0;
}

#p5_loading{
    display: flex;
    justify-content: center;
    color: #FFF6;
    span{
        display: inline-block;
        margin: 45% 0 ;
    }
}